.app-container, .logo-container {
    display: flex;
    align-items: center
}

.app-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    justify-content: center
}